*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
}

.navbar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.navbar > li{
  margin: 0 25px;
  padding: 25px 0;
}

.topnav .dropdown li{
  position:relative;
  padding: 5px 0;
}
.topnav .dropdown{
  display:none;
  position: absolute;
}
#project:hover .dropdown{
  display:block;
  flex-direction: column;
  background-color: pink;
  color: black;
  border-style: solid;
  padding: 0 10px;
  margin-top: 20px;
}
ul { 
  list-style: none; 
}

table, th, td {
  color: #1f1f1f;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 20px;
  border-top: 50px;
  border: 1px solid #313131;
  border-collapse: collapse;
}

  #t01 tr:nth-child(even) {
    background-color: rgb(187, 187, 187);
  }

  #t01 tr:nth-child(odd) {
    background-color: rgb(219, 219, 219);
  }
  #t01 th {
    color: white;
    background-color: rgb(0, 0, 0);
  }

#t01{
  width: 100%;
}
#cards{
  display:flex;
  flex-direction: column;
  align-content:center;
}
/*Head Title Arrangement*/
#cards .headtitle{
  display:flex;
  flex-direction: column;
  align-content:center;
}
/*Card Arrangement*/
.title {
  border-bottom: 1px solid #ccc;
  max-width: 90%;
  margin: 40px auto;
}

.title-note {
  font-size: 80%;
  color: #999;
}

.flex-title {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.flex-title > span {
  white-space: nowrap;
}
.flex-title .title-main {
  flex-grow: 1;
}