*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
}

.navbar{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.navbar > li{
  margin: 0 25px;
  padding: 25px 0;
}

.topnav .dropdown li{
  position:relative;
  padding: 5px 0;
}
.topnav .dropdown{
  display:none;
  position: absolute;
}
#project:hover .dropdown{
  display:block;
  flex-direction: column;
  background-color: pink;
  color: rgb(255, 5, 159);
  border-style: solid;
  padding: 0 10px;
  margin-top: 20px;
}
ul { 
  list-style: none; 
}

table, th, td {
  color: #1f1f1f;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 20px;
  border-top: 50px;
  border: 1px solid #313131;
  border-collapse: collapse;
}

  #t01 tr:nth-child(even) {
    background-color: rgb(187, 187, 187);
  }

  #t01 tr:nth-child(odd) {
    background-color: rgb(219, 219, 219);
  }
  #t01 th {
    color: white;
    background-color: rgb(0, 0, 0);
  }

#t01{
  width: 100%;
}
#header{
  display:flex;
  flex-direction: column;
  align-items:center;
}
/*Head Title Arrangement*/
#header .headtop{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin:10px auto;
}
.lessonhead{
  border-radius: 20px;
  background: #914273;
  padding: 0px 20px;
  /*margin: 10px auto;*/
  width: 90%;
}
/*Card Arrangement for Timeline*/
.lessonhead .intro{
  display: flex;
  margin: 10px auto;
}
.lessonhead .work{
  margin: 10px auto;
  padding: 0px 10px;
}
/*CSS for the links*/

.lessonhead .work .links:visited{
  text-decoration:none;
  color: rgb(25, 0, 255);
  background-color: transparent;
}
.lessonhead .work .links:hover{
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}

.lessonhead .work .links:active{
  color: rgb(0, 255, 55);
  background-color: transparent;
  text-decoration: underline;
}
/*The line thing*/
.title {
  border-bottom: 1px solid #ccc;
  margin: 10px auto;
}
.title-note {
  font-size: 80%;
  color: rgb(236, 171, 225);
}
.flex-title {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.flex-title > span {
  white-space: nowrap;
}
.flex-title .title-main {
  flex-grow: 1;
}
/*line*/
.vertical {
  border-left: 6px solid black;
  height: 25px;
  left: 50%;
}