*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topnav {
    display:flex;
    justify-content:center;
}
.topnav .navbar{
    gap:50px 50px;
    display:flex;

}

.topnav .dropdown li{
    position:relative;
}
.topnav .dropdown{
    display:none;
    position: absolute;
}
#project:hover .dropdown{
    display:block;
    flex-direction: column;
}
ul { 
    list-style: none; 
}